<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026276895469-jd0lj3pnd3ftp8kivsolehu7o7h8sp3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026276895469-jd0lj3pnd3ftp8kivsolehu7o7h8sp3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1026276895469-n7cffkr26p8ba57i4qgsuo2v9236g3ba.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB4DlxNrDrcAtZOOmL3GALFahq0Zb20UBE</string>
	<key>GCM_SENDER_ID</key>
	<string>1026276895469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notely</string>
	<key>PROJECT_ID</key>
	<string>notely-27b52</string>
	<key>STORAGE_BUCKET</key>
	<string>notely-27b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026276895469:ios:c200e91e273985eb4bfae4</string>
</dict>
</plist>